/* общие стили*/
* {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* общие стили*/

/* начало header*/
.header {
    width: 1100px;
    height: 293px;
}

.header__menu {
    position: absolute;
    width: 391.48px;
    height: 22px;
    top: 133px;
    left: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-transform: lowercase;
}

.header__menu_glav {
    text-decoration: none;
}

.header__menu_posm_lot,
.header__menu_ob_aukc {
    text-decoration: underline;
}

.header__menu_razdelit {
    width: 6px;
    height: 6px;
}

.header_logo {
    position: absolute;
    width: 148px;
    height: 105px;
    top: 92px;
    left: 478px;
}

.header__menu a,
address a {
    color: black;
}

.header__address {
    position: absolute;
    width: 240px;
    height: 98px;
    top: 95px;
    left: 810px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    list-style: none;
}

.header__address ul {
    list-style: none;
}

/* конец header*/

/* начало main*/

/* начало cover*/
.cover {
    color: white;
    position: absolute;
    Width: 1100px;
    Height: 757px;
    Top: 293px;
    left: 0;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.cover_ono {
    position: absolute;
    Width: 286px;
    Height: 115px;
    Top: 165px;
    Left: 50px;
    font-size: 100px;
    letter-spacing: 30px;
}

.cover_tebe {
    position: absolute;
    Width: 339px;
    Height: 115px;
    Top: 300px;
    Left: 380.5px;
    font-size: 100px;
    letter-spacing: 30px;
}

.cover_nado {
    position: absolute;
    Width: 387px;
    Height: 115px;
    Top: 435px;
    Left: 663px;
    font-size: 100px;
    letter-spacing: 30px;
}

.description p {
    position: absolute;
    Width: 637px;
    Height: 28px;
    Top: 668px;
    Left: 50px;
    font-size: 22px;
    word-spacing: 19px;
}

.description button {
    position: absolute;
    Width: 256px;
    Height: 51px;
    Top: 656px;
    Left: 794px;
    font-size: 22px;
    border: 2px solid white;
    color: white;
    background: transparent;
}

/* конец cover*/

/* начало lots*/
.lots_list {
    list-style: none;
}

.lots {
    position: absolute;
    Width: 1052px;
    Height: 723px;
    Top: 1230px;
    Left: 24px;
}

.lots_heading {
    position: absolute;
    Width: 121px;
    Height: 47px;
    Left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lot_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/lot_1.jpg");
    background-position: center;
    position: absolute;
    Width: 334px;
    Height: 596px;
    Top: 74px;
}

.lot_1 h3 {
    position: absolute;
    Width: 254px;
    Height: 82px;
    Top: 48px;
    left: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}

.lot_1 p {
    position: absolute;
    Width: 254px;
    Height: 144px;
    Top: 404px;
    left: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lot_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/lot_2.jpg");
    background-position: center;
    position: absolute;
    Width: 334px;
    Height: 596px;
    Top: 74px;
    left: 359px;
}

.lot_2 h3 {
    position: absolute;
    Width: 254px;
    Height: 110px;
    Top: 48px;
    left: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}

.lot_2 p {
    position: absolute;
    Width: 254px;
    Height: 360px;
    Top: 188px;
    left: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lot_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/lot_3.jpg");
    background-position: center;
    position: absolute;
    Width: 334px;
    Height: 596px;
    Top: 74px;
    left: 718px;
}

.lot_3 h3 {
    position: absolute;
    Width: 254px;
    Height: 110px;
    Top: 48px;
    left: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}

.lot_3 p {
    position: absolute;
    Width: 254px;
    Height: 264px;
    Top: 284px;
    left: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lots_button {
    position: absolute;
    Width: 192px;
    Height: 25px;
    Top: 700px;
    left: 40px;
    font-size: 20px;
    color: black;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-transform: lowercase;
}

/* конец lots*/
/* начало about*/
.about {
    position: absolute;
    Width: 1052px;
    Height: 595px;
    Top: 2073px;
    left: 24px;
}

.logo_about {
    position: absolute;
    Width: 240px;
    Height: 240px;
    Top: 35px;
    left: 47px;
}

.about_column {
    position: absolute;
    Width: 693px;
    Height: 449px;
    Top: 133px;
    left: 359px;
}

.h2_about {
    position: absolute;
    Width: 291px;
    Height: 47px;
    Top: 3px;
    font-size: 40px;
    text-transform: uppercase;
}

.p1_about {
    position: absolute;
    Width: 688px;
    Height: 120px;
    Top: 150px;
    font-size: 20px;
}

.p2_about {
    position: absolute;
    Width: 693px;
    Height: 168px;
    Top: 294px;
    font-size: 20px;
}

/* конец about*/

/* конец main*/

/* начало footer*/
.footer {
    position: absolute;
    Width: 1100px;
    Height: 180px;
    Top: 2848px;
    left: 0;
}

.footer a {
    color: black;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    text-transform: lowercase;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    Width: 264.57px;
    Height: 98px;
    left: 50px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    Width: 163.9px;
    Height: 64px;
    top: 1px;
    left: 468.6px;
    list-style: none;
}

.footer__menu_glav {
    text-decoration: none;
}

.footer__social {
    display: grid;

    grid-template-columns: 48px 48px 48px; /*иначе автотест не пускает*/

    gap: 48px;
    position: absolute;
    Width: 240px;
    Height: 48px;
    top: 1px;
    left: 810px;
    list-style: none;
}

.footer__social img {
    Width: 48px;
    Height: 48px;
}