/* общие стили*/
* {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* общие стили*/

/* начало header*/
.header {
    display: inline-grid;
    grid-template-columns: 476px 148px  476px;
    width: 1100px;
    height: 293px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-transform: lowercase;
}

.header__menu_glav {
    text-decoration: none;
}

.header__menu_posm_lot,
.header__menu_ob_aukc {
    text-decoration: underline;
}

.header__menu_razdelit {
    width: 6px;
    height: 6px;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo img {
    width: 148px;
    height: 105px;
}

.header__menu a,
address a {
    color: black;
}

.header__address {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    list-style: none;
}

.header__address ul {
    list-style: none;
    width: 200px;
}

/* конец header*/

/* начало main*/

/* начало cover*/
.cover {
    color: white;
    position:relative;
    Width: 1100px;
    Height: 757px;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    position: absolute;
    width: 1000px;
    height: 385px;
    top: 165px;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cover_ono {
    grid-column: span 3 / span 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 100px;
    letter-spacing: 30px;
}

.cover_tebe {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    letter-spacing: 30px;
}

.cover_nado {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 100px;
    letter-spacing: 30px;
}

.description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    Width: 1000px;
    Height: 51px;
    Top: 656px;
    Left: 50px;
}

.description p {
    grid-column: span 3 / span 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    word-spacing: 15px;
}

.description button {
    grid-column-start: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 2px solid white;
    color: white;
    background: transparent;
}

/* конец cover*/

/* начало lots*/
.loty {
    position: relative;
    width: 1100px;
    height: 1023px;
}

.lots {
    position: absolute;
    Width: 1052px;
    Height: 723px;
    top: 180px;
    left: 24px;
}

.lots_heading {
    padding-left: 40px;
    height: 74px;
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
}

.lots_list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lot_1 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/lot_1.jpg");
    background-position: center;
    width: 334px;
    height: 596px;
}

.lot_1 h3 {
    position: absolute;
    Top: 48px;
    left: 40px;
    right: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}

.lot_1 p {
    position: absolute;
    Top: 404px;
    left: 40px;
    right: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lot_2 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/lot_2.jpg");
    background-position: center;
    width: 334px;
    height: 596px;
}

.lot_2 h3 {
    position: absolute;
    Width: 254px;
    Height: 110px;
    Top: 48px;
    left: 40px;
    right: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}

.lot_2 p {
    position: absolute;
    Width: 254px;
    Height: 360px;
    Top: 188px;
    left: 40px;
    right: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lot_3 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/lot_3.jpg");
    background-position: center;
    width: 334px;
    height: 596px;
}

.lot_3 h3 {
    position: absolute;
    Width: 254px;
    Height: 110px;
    Top: 48px;
    left: 40px;
    right: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
}

.lot_3 p {
    position: absolute;
    Width: 254px;
    Height: 264px;
    Top: 284px;
    left: 40px;
    right: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lots_button {
    padding-left: 40px;
    align-items: end;
    height: 53px;
    display: flex;
    font-size: 20px;
    color: black;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-transform: lowercase;
}

/* конец lots*/

/* начало about*/
.about_section {
    position: relative;
    width: 1100px;
    height: 775px;
}

.about {
    position: absolute;
    Width: 1052px;
    Height: 595px;
    left: 24px;
    display: grid;
    grid-template-columns: 359px 693px;
    grid-template-rows: 1fr 1fr 1fr;
}

.logo_about {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    Width: 359px;
    Height: 595px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.logo_about img {
    width: 240px;
    height: 240px;
}

.h2_about {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    Width: 693px;
    Height: 198px;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    padding-right: 10px;
}

.p1_about {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    Width: 693px;
    Height: 198px;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: end;
}

.p2_about {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    Width: 693px;
    Height: 198px;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 24px;
}

/* конец about*/

/* конец main*/

/* начало footer*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    Width: 1100px;
    Height: 180px;
}

.footer a {
    color: black;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    text-transform: lowercase;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.footer ul {
    list-style: none;
}

.footer__menu_glav {
    text-decoration: none;
}

.footer__social {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    gap: 48px;
    list-style: none;
    justify-content: center;
    align-items: start;
}

.footer__social img {
    Width: 48px;
    Height: 48px;
}